
.vs/PDQ-Scripts/FileContentIndex/03a7b0a2-c62f-4ef2-a9e5-e51ca9a627e3.vsidx
.vs/PDQ-Scripts/FileContentIndex/704334ea-b2c6-4ae9-bec9-f2a4cce3c913.vsidx
.vs/PDQ-Scripts/FileContentIndex/8d8f4c38-2780-45ac-aad5-3527d5bc6512.vsidx
.vs/PDQ-Scripts/FileContentIndex/d3b6e026-b184-4db2-8507-e725e2d6be5d.vsidx
.vs/slnx.sqlite
